@media (min-width: @tablet-width) {
  .functions {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .functions {
    display: row;
  }
}

.functions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.functions-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.functions__wrapper {
  background-color: @grey;
}

.functions__list-item {
  list-style-type: none;
}

