@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
.capabilities__slogan span {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.contacts__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.contacts__way {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
  text-align: center;
}
.contacts-map__picture {
  display: none;
}
.contacts__number {
  text-align: center;
}
.contacts__email {
  text-align: center;
}
@media (min-width: 320px) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 660px) {
  .contacts__wrapper {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    display: grid;
  }
}
.download-application__wrapper {
  background-color: #1D2631;
  background-repeat: no-repeat;
}
.download-application__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.filling__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.filling-form__title-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
  text-transform: uppercase;
}
.filling__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-transform: uppercase;
}
.filling__title-achievements {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.filling-form__title-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
}
.filling-form__title-platforms {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.filling-form__title-emotions {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
}
.emotions-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.filling__emotions-required {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.filling-form__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.form-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
.functions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.functions-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.functions {
  background-color: #F2F2F2;
}
.functions__list-item {
  list-style-type: none;
}
@media (min-width: 660px) {
  .functions__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .functions__list {
    display: none;
  }
  .functions__list-slider {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .functions__list-item {
    position: relative;
    width: 186px;
    margin-right: 137px;
  }
  .functions__list-item--img-1::after,
  .functions__list-item--img-2::after,
  .functions__list-item--img-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 382px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .functions__list-item--img-1::after {
    background-image: url("img/deskimgtrash.png");
  }
  .functions__list-item--img-2::after {
    background-image: url("img/deskimgsmile.png");
  }
  .functions__list-item--img-3::after {
    background-image: url("img/deskimgredtrash.png");
  }
}
.main-footer__academy-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 660px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }
  .main-footer__academy {
    display: flex;
  }
}
.modal-error__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.modal-error__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.modal-error__ok {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.modal-success__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.modal-success__close {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.page-body__wrapper {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}
.page-body__title {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  text-align: center;
}
.pictures-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #ffffff;
}
.platforms-container__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.processing__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.processing__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.processing__button--curren {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #D22856;
}
.processing__upload {
  background-color: #F2F2F2;
}
.rates {
  background-color: #F2F2F2;
}
.rates__table-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: #283645;
  min-width: 152px;
}
.rates__table {
  border: 2px solid #E5E5E5;
}
.rates__table-option {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}
.rates__table-value--yes {
  position: relative;
  background-image: url("../img/yes.svg");
  background-position: center;
  width: 31px;
  height: 21px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.rates__table-value--no {
  background-image: url("../img/no.svg");
  background-position: center;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.rates__table-price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.rates__table-rate,
.rates__table-price {
  color: #ffffff;
}
.reviews__user-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.reviews__user-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.reviews__wrapper-hidden {
  display: none;
}
.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
}
.users__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.users__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.users__publication-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.users__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.users__heart-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #D22856;
  text-transform: uppercase;
}
.users__like-wrapper {
  background-color: #F2F2F2;
}
.socials-list {
  list-style-type: none;
}
@media (min-width: 1200px) and (min-width: 660px) {
  .socials-list {
    display: flex;
    list-style-type: none;
  }
}
.socials-list__item {
  padding-left: 46px;
}
.main-header {
  display: flex;
  flex: column;
  color: #ffffff;
  background-color: #283645;
}
.main-nav__list {
  list-style-type: none;
}
@media (min-width: 660px) {
  .main-nav__list {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
.logo__tablet,
.logo__desktop {
  display: none;
}
@media (min-width: 660px) {
  .logo__mobile {
    display: none;
  }
  .logo__tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .logo__tablet {
    display: none;
  }
  .logo__desktop {
    display: block;
  }
}
.stopwatch {
  background-color: #F2F2F2;
}
.stopwatch__img {
  position: relative;
  padding: 20px 54px 72px 0;
  margin-bottom: 108px;
}
.stopwatch__slogan {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.stopwatch__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.stopwatch__more {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #D22856;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media (min-width: 320px) {
  .stopwatch {
    display: none;
  }
}
@media (min-width: 660px) {
  .stopwatch {
    display: flex;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 660px) {
  .container {
    max-width: 660px;
  }
}
/*# sourceMappingURL=style.css.map */
